/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop


1em = 16px
*/
.theme-1 {
  --color-background-main: hsl(222, 26%, 31%);
  --color-background-toggle-and-keypad: hsl(223, 31%, 20%);
  --color-background-screen: hsl(224, 36%, 15%);
  --color-key: hsl(225, 21%, 49%);
  --color-key-shadow: hsl(224, 28%, 35%);
  --color-key-background-and-toggle: hsl(25, 98%, 40%);
  --color-key-shadow-dark: hsl(6, 70%, 34%);
  --color-key-background-2: hsl(45, 7%, 89%);
  --color-key-shadow-2: hsl(35, 11%, 61%);
  --font-color-main-light: hsl(60, 10%, 19%);
  --font-color-main-dark: hsl(60, 10%, 19%);
  --font-color-white: hsl(0, 0, 100%); }

.theme-2 {
  --color-background-main: hsl(0, 0%, 90%);
  --color-background-toggle-and-keypad: hsl(0, 5%, 81%);
  --color-background-screen: hsl(0, 0%, 93%);
  --color-key: hsl(185, 42%, 37%);
  --color-key-shadow: hsl(185, 58%, 25%);
  --color-key-background-and-toggle: hsl(6, 63%, 50%);
  --color-key-shadow-dark: hsl(25, 99%, 27%);
  --color-key-background-2: hsl(30, 25%, 89%);
  --font-color-main-light: hsl(221, 14%, 31%);
  --font-color-main-dark: hsl(221, 14%, 31%);
  --font-color-white: hsl(0, 0, 100%); }

.theme-3 {
  --color-background-main: hsl(268, 75%, 9%);
  --color-background-toggle-and-keypad: hsl(268, 71%, 12%);
  --color-background-screen: hsl(268, 71%, 12%);
  --color-key: hsl(281, 89%, 26%);
  --color-key-shadow: hsl(285, 91%, 52%);
  --color-key-background-and-toggle: hsl(176, 100%, 44%);
  --color-key-shadow-dark: hsl(177, 92%, 70%);
  --color-key-background-2: hsl(268, 47%, 21%);
  --color-key-shadow-2: hsl(290, 70%, 36%);
  --font-color-main-light: hsl(52, 100%, 62%);
  --font-color-main-dark: hsl(198, 20%, 13%);
  --font-color-white: hsl(0, 0, 100%); }

body {
  font-family: "League Spartan", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  font-weight: 700; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  height: 100%; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  box-sizing: border-box; }

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; }

input,
button,
textarea,
select {
  font: inherit; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

#root,
#__next {
  isolation: isolate; }

.wrapper {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background-main); }

.calculator {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 78vh;
  background-color: red; }
  @media only screen and (max-width: 75em) {
    .calculator {
      width: 40vw; } }
  @media only screen and (max-width: 56.25em) {
    .calculator {
      width: 50vw; } }
  @media only screen and (max-width: 37.5em) {
    .calculator {
      width: 80vw;
      height: 85vh; } }
