/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop


1em = 16px
*/
.theme-1 {
  --color-background-main: hsl(222, 26%, 31%);
  --color-background-toggle-and-keypad: hsl(223, 31%, 20%);
  --color-background-screen: hsl(224, 36%, 15%);
  --color-key: hsl(225, 21%, 49%);
  --color-key-shadow: hsl(224, 28%, 35%);
  --color-key-background-and-toggle: hsl(6, 63%, 48%);
  --color-key-shadow-dark: hsl(6, 70%, 34%);
  --color-key-background-2: hsl(45, 7%, 89%);
  --color-key-shadow-2: hsl(35, 11%, 61%);
  --font-color-main-light: hsl(0, 0%, 90%);
  --font-color-main-dark: hsl(60, 10%, 19%);
  --font-color-white: hsl(0, 0, 100%); }

.theme-2 {
  --color-background-main: hsl(0, 0%, 90%);
  --color-background-toggle-and-keypad: hsl(0, 5%, 81%);
  --color-background-screen: hsl(0, 0%, 93%);
  --color-key: hsl(185, 42%, 37%);
  --color-key-shadow: hsl(185, 58%, 25%);
  --color-key-background-and-toggle: hsl(6, 63%, 50%);
  --color-key-shadow-dark: hsl(25, 99%, 27%);
  --color-key-background-2: hsl(30, 25%, 89%);
  --font-color-main-light: hsl(221, 14%, 31%);
  --font-color-main-dark: hsl(221, 14%, 31%);
  --font-color-white: hsl(0, 0, 100%); }

.theme-3 {
  --color-background-main: hsl(268, 75%, 9%);
  --color-background-toggle-and-keypad: hsl(268, 71%, 12%);
  --color-background-screen: hsl(268, 71%, 12%);
  --color-key: hsl(281, 89%, 26%);
  --color-key-shadow: hsl(285, 91%, 52%);
  --color-key-background-and-toggle: hsl(176, 100%, 44%);
  --color-key-shadow-dark: hsl(177, 92%, 70%);
  --color-key-background-2: hsl(268, 47%, 21%);
  --color-key-shadow-2: hsl(290, 70%, 36%);
  --font-color-main-light: hsl(52, 100%, 62%);
  --font-color-main-dark: hsl(198, 20%, 13%);
  --font-color-white: hsl(0, 0, 100%); }

.switch {
  transform: translateX(1.9rem);
  transition: 120ms transform ease-in-out; }

body {
  font-family: "League Spartan", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  font-weight: 500; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  height: 100%; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  box-sizing: border-box; }

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; }

input,
button,
textarea,
select {
  font: inherit; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

#root,
#__next {
  isolation: isolate; }

.container {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background-main); }

.calculator {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  border-radius: 1rem;
  width: 100%;
  height: 54vh;
  background-color: var(--color-background-toggle-and-keypad);
  padding: 3rem 2rem; }

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline; }
  .header__logo {
    color: var(--font-color-main-light);
    font-size: 4rem; }
  .header__theme {
    display: flex;
    align-items: flex-end; }
    .header__theme-header {
      margin-right: 1.5rem;
      text-transform: uppercase;
      color: var(--font-color-main-light);
      font-size: 1.5rem;
      letter-spacing: 0.15rem; }

.screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
  height: 15vh;
  background-color: var(--color-background-screen); }
  .screen-number {
    font-size: 6rem;
    color: var(--font-color-main-light);
    font-weight: 700;
    margin-right: 3rem; }

.wrapper {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 78vh;
  justify-content: space-between; }
  @media only screen and (max-width: 75em) {
    .wrapper {
      width: 40vw; } }
  @media only screen and (max-width: 56.25em) {
    .wrapper {
      width: 50vw; } }
  @media only screen and (max-width: 37.5em) {
    .wrapper {
      width: 80vw;
      height: 85vh; } }

.toggle {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .toggle__buttons {
    margin: 0 0.4rem 0 0.4rem; }
    .toggle__buttons-btn {
      cursor: pointer;
      border: none;
      background-color: var(--color-background-main);
      color: var(--font-color-main-light);
      font-size: 1.5rem;
      margin: 0.4rem; }
  .toggle__bar {
    width: 100%;
    height: 2.2rem;
    background-color: var(--color-background-toggle-and-keypad);
    border-radius: 2rem;
    padding: 0.15rem 0.15rem 0 0.15rem; }
    .toggle__bar-circle {
      position: relative;
      background-color: var(--color-key-background-and-toggle);
      width: 28%;
      height: 80%;
      z-index: 999;
      border-radius: 100%;
      margin: 0.15rem; }

.btn {
  padding-top: 0.7rem;
  flex-basis: 20%;
  height: 15%;
  background-color: var(--color-key-background-2);
  border: none;
  border-radius: 1rem;
  border-bottom: 5px solid var(--color-key-shadow-2);
  font-size: 4rem;
  color: var(--color-background-main);
  font-weight: 700; }
  .btn:nth-child(4) {
    background-color: var(--color-key);
    border-bottom: 5px solid var(--color-key-shadow);
    color: var(--font-color-main-light);
    font-weight: 500;
    font-size: 2.5rem;
    letter-spacing: 0.15rem; }
  .btn:nth-last-child(-n + 2) {
    flex-basis: 45%;
    height: 15%;
    background-color: var(--color-key);
    border-bottom: 5px solid var(--color-key-shadow);
    color: var(--font-color-main-light);
    font-weight: 500;
    font-size: 2.5rem;
    letter-spacing: 0.15rem; }
  .btn:nth-last-child(1) {
    background-color: var(--color-key-background-and-toggle);
    border-bottom: 5px solid var(--color-key-shadow-dark); }
