.container {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $color-background-main;
}

h2 {
    color: $color-background-screen;
}
p {
    color: $color-background-toggle-and-keypad;
    font-size: $font-size-main;
}
