.container {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background-main);
}

h2 {
    color: var(--color-background-screen);
}
p {
    color: var(--color-background-toggle-and-keypad);
}
