.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;

    &__logo {
        color: var(--font-color-main-light);
        font-size: 4rem;
    }

    &__theme {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        &-header {
            margin-right: 1.5rem;
            text-transform: uppercase;
            color: var(--font-color-main-light);
            font-size: $font-size-small;
        }
    }
}
