.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;

    &__logo {
        color: var(--font-color-main-dark);
        font-size: $font-size-big;
    }

    &__theme {
        display: flex;
        align-items: flex-end;

        &-header {
            margin-right: 1.5rem;
            text-transform: uppercase;
            color: var(--font-color-main-dark);
            font-size: $font-size-small;
            letter-spacing: 0.1rem;
        }
    }
}
