.wrapper {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 78vh;
    justify-content: space-between;

    @include respond(tab-land) {
        width: 40vw;
    }
    @include respond(tab-port) {
        width: 50vw;
    }
    @include respond(phone) {
        width: 80vw;
        height: 85vh;
    }
}
