.btn {
    padding-top: 0.7rem;
    flex-basis: 20%;
    height: 15%;
    background-color: var(--color-key-background-2);
    border: none;
    border-radius: 1rem;
    border-bottom: 5px solid var(--color-key-shadow-2);
    font-size: $font-size-big;
    color: var(--font-color-main-dark);
    font-weight: $font-weight-heavy;

    &:nth-child(4) {
        background-color: var(--color-key);
        border-bottom: 5px solid var(--color-key-shadow);
        color: var(--font-color-main-light);
        font-weight: $font-weight-medium;
        font-size: $font-size-main-2;
        letter-spacing: 0.15rem;
    }

    &:nth-last-child(-n + 2) {
        flex-basis: 45%;
        height: 15%;
        background-color: var(--color-key);
        border-bottom: 5px solid var(--color-key-shadow);
        color: var(--font-color-main-light);
        font-weight: $font-weight-medium;
        font-size: $font-size-main-2;
        letter-spacing: 0.15rem;
    }
    &:nth-last-child(1) {
        background-color: var(--color-key-background-and-toggle);
        border-bottom: 5px solid var(--color-key-shadow-dark);
    }
}
